/*
    CSS Reset
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /*
    Variables, Global css
  */

$color-background: #ece7f3;
$color-primary-darkgray: #433b51;
$color-primary-gray: #5a5a5a;
$color-highlight: #42ff6e;
$ff: Montserrat;
$fw: 500;
$fs-paragraph: 0.9rem;
$width-main: 1140px;
$row-gap: 1.5rem;
$column-gap:  2.5rem;
$border-radius: 0.5rem;
$letter-spacing: -.05rem;

body {
    font-family: $ff;
    font-weight: $fw;
    background-color: $color-background;
    color: $color-primary-darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;

    main {
        background-color: white;
        max-width: $width-main;
        margin: $row-gap auto;
        padding: calc($row-gap * 2.5) $column-gap;

        form {
            text-align: center;
            margin-bottom: $row-gap;
            color: $color-primary-darkgray;
        }

        article {
            display: flex;
            gap: $row-gap $column-gap;
            flex-wrap: wrap;
            justify-content: center;

            h1 {
                width: 100%;
                text-align: center;
                letter-spacing: $letter-spacing;
                font-size: 2rem;
                color: black;
            }

            p {
                width: calc(50% - ($column-gap / 2));
                font-size: $fs-paragraph;
                letter-spacing: $letter-spacing;
                color: $color-primary-gray;
            }
        }
    }
    .attribution {
        text-align: center;
        margin-bottom: $row-gap;
    }
    .colored {
        background-color: $color-highlight;
    }
}
@media (max-width: 767px) {
    body > main > article {
        p {
            width: 100%;
        }
    }
}